*{ margin: 0; padding: 0; }


body{ background: green; }

.bg{ background: yellow; }


.nav-item a
			{color: white!important;
			font-size: 15px;
			margin-right: 2px;
			font-weight: 500;
			border: 2px solid blue;
			padding: 0 0 4px 4px;
			border-radius: 10px;
			background: black;
			border: none;}

.nav-item a:hover
	{ background: green;
	border-radius: 10px;}

.card{ margin-top: 5px;
		margin-right: 10px;
		border-radius: 20px;
		background: skyblue }


.card img{ border-radius: 20px }